#logo {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 80px;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
    animation: pulse 2s infinite;
}

#logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.7), 0 0 40px rgba(0, 0, 255, 0.5), 0 0 50px rgba(0, 0, 255, 0.3);
    animation: glow 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.5), 0 0 30px rgba(0, 0, 255, 0.3), 0 0 40px rgba(0, 0, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 30px rgba(0, 0, 255, 0.7), 0 0 40px rgba(0, 0, 255, 0.5), 0 0 50px rgba(0, 0, 255, 0.3);
    }
}


@media (max-width: 768px) {
    #logo {
        top: 20px;
        left: 10px;
        width: 50px; 
    }
}
